<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ static_url('estilos.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript">
function chair_status(evt){
  if (evt.target.value =="shared"){
    document.getElementById("chair1").disabled = false;
    document.getElementById("chair2").disabled = false;
    document.getElementById("chair3").disabled = false;
    document.getElementById("chair4").disabled = false;

  }else{
    document.getElementById("chair1").disabled = true;
    document.getElementById("chair2").disabled = true;
    document.getElementById("chair3").disabled = true;
    document.getElementById("chair4").disabled = true;
    document.getElementById("chair1").value = "";
    document.getElementById("chair2").value = "";
    document.getElementById("chair3").value = "";
    document.getElementById("chair4").value = "";
  }
}
</script>

</head>
<body>

<h3>Slices Creation</h3>

<div class="container">
  <form method="POST">
    <label>RS Name:</label>
    <input type="text" name="rs_name"/><br>
    <label>Network End Point_VUE:</label>
    <input type="text" name="nep_vue"/><br>
    <label>Network End Point_VBS:</label>
    <input type="text" name="nep_vbs"/><br>
    

    <label >Channel Bandwidth_Min:</label>
    <input type="text" name="channelbw_min"/><br>
    <label>Channel Bandwidth_Max:</label>
    <input type="text" name="channelbw_max"/><br>
    
    <label>Channel Sharing Policy: </label>
    <select name="channelsharingpool" onchange="chair_status(event)">
      <option value="shared">Shared</option>
      <option value="non-shared">Non-Shared</option>
    </select><br>
    <label>Channel Air Time Policy:</label>
    <input type="text" id="chair1" name="chairpolicy"/><br>
    <label>Channel Air Time Min Ratio:</label>
    <input type="text" id="chair2" name="chairminratio"/><br>
    <label>Channel Air Time Max Ratio:</label>
    <input type="text" id="chair3" name="chairmaxratio"/><br>
    <label>Channel Air Time Averaging Interval:</label>
    <input type="text" id="chair4" name="chairavgint"/><br>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>