<!DOCTYPE html>
<html>
<head>
<link href="{{ static_url('estilos.css') }}" rel="stylesheet" type="text/css">
</head>
<body>


<h3>List Slices</h3>

<table id="slices">
    {% for x in y %}
    <tr>
    <td>Slice {{ escape(x['rs_name']) }}</td>
    <td><form method="post">
                    <input type="hidden" name="option" value="{{ escape(x['id']) }}">
                    <input type="submit" value="DELETE">
                    </form>
    </td>
    <td><form action="/viewslice" method="post">
                   <input type="hidden" name="option" value="{{ escape(x['id']) }}">
                   <input type="submit" value="VIEW"></form>
    </td>
    <td><form action="/modifyslice" method="get">
                   <input type="hidden" name="option" value="{{ escape(x['id']) }}">
                   <input type="submit" value="MODIFY"></form>
    </td>
    </tr>
    {% end %}
</table>
<br>

<form action="/addslice">
    <input type="Submit" Value="Create Slice">
</form>