<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ static_url('estilos.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
        <div class="uno">
                <img src="{{ static_url('logoupc.png') }}" alt="Universidad Politécnica de Cataluña" width="250" height="60" class="upc">
                <img src="{{ static_url('trinity.png') }}" alt="Trinity College" width="250" height="60" class="trinity">
                <img src="{{ static_url('5ginfire-logo3.png') }}" alt="5GInfire" width="250" height="60"class="cincog">
        </div> 
        <div class="titulo">RADIO SLICE MANAGER for MARATHON</div>  
<h3>MODIFICATION SLICE {{escape (id)}} SUCCESFULLY  </h3>
<form action=/>
<input type="submit" value="View Slices">
</form>
</body>
</html>